devcampipad/devcampipad.xcodeproj/project.xcworkspace/xcuserdata/jbardin.xcuserdatad/
devcampipad/devcampipad.xcodeproj/xcuserdata/jbardin.xcuserdatad/


devcampipad/devcampipad.xcodeproj/project.xcworkspace/xcuserdata/bessho.xcuserdatad/UserInterfaceState.xcuserstate

devcampipad/devcampipad.xcodeproj/xcuserdata/bessho.xcuserdatad/xcschemes/devcampipad.xcscheme

devcampipad/devcampipad.xcodeproj/xcuserdata/bessho.xcuserdatad/xcschemes/xcschememanagement.plist
